<!-- <div class="row">
    <div class="col-12">
        <h1>{{post.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{post.description}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{post.file}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary"> Add Comment</button>
    </div>
</div> -->

<div class="row text-center" style="display:flex; flex-wrap:wrap">
    <div class="container">
        <div class="col-lg-12">
            <div class="thumbnail" *ngFor="let complaintDetails of complaintDetailsById | async  ;let i = index">
                <hr>
                <div class="title">
                    <h4>{{data.title}}</h4>
                </div>
                <div>
                    <h5>{{data.description}}</h5>
                </div>
                <div class="caption">
                    <img src="https://upload-project-images.s3.ap-south-1.amazonaws.com/{{data.file}}"
                        width="800px" height="500px">
                </div>
                <hr>
                <!-- <div class="sticky">
                    <h4>Complaint By {{complaintDetails.userID.name}}</h4>
                </div> -->
                <!-- <hr> -->
            </div>
        </div>
    </div>
</div>