
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-md-offset-3" style="margin: 120px 230px auto auto;">
            <h3 style="margin-right: 30px;">Add New Post</h3>
            <form class="form-horizontal" style="width:auto;" [formGroup]="addPost" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="title">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" formControlName="title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="desc">Description</label>
                    <div class="col-sm-10">
                        <textarea row="4" class="form-control" id="description" formControlName="description">
                    </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="file" >File</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="file" formControlName="file" (change)="onFetch($event)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>